
# Gradle
/build/
buildOutputCleanup.lock
executionHistory.lock
fileHashes.lock

file-system.probe

local.properties

*.bin

# IDE specific xml files
vcs.xml
gradle.xml
misc.xml
kotlinc.xml
jarRepositories.xml
compiler.xml

